body {
    background-color: #eee !important;
}
.list-group-item{
    background-color: white;
    border-radius: 5px;
    margin: 10px;
}
.btn{
    margin-left: 50px;
}
.btn-link, .btn-link:visited{
    text-decoration: none;
    color: white !important;
}